{% extends 'vote/base.html' %}

{% block title %}Add new Voter{% endblock %}

{% block body %}
 <div class="container">
    <div class="row card-panel grey lighten-5 z-depth-1 hoverable">
        <div class="col-sm-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <blockquote><h3>Admin Login Portal</h3></blockquote>
                    <h5>{{ heading }}</h5>
                </div>
                <div class="panel-body">
                {% if not user.is_authenticated %}
                    <form class="form-horizontal" role="form" action="{% url 'vote:adminLogin' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                           
                        <div class="input-field col s6">
                            <input type="text" name="username" class="validate">
                            <label class="" for="input_field">Username</label>
                        </div>
                        <div class="input-field col s6">
                            <input type="password" name="password" class="validate">
                            <label class="" for="input_field">Password</label>
                        </div>

                        <div class="input-field col s6">
                            <button type="submit" class="btn waves-effect waves-light" >Submit<i class="material-icons right">send</i></button>
                        </div>
                    </form>
                {% else %}
                    <h3>You need to <a href="{% url 'vote:logout' %}">Logout</a> first!!</h3>
                {% endif %}
                </div>
                <div class="" style="color: #d50000; font-size: 200%">
                    {{ error_message }}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}